<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-security-client/src/main/java/com/springsecurity/springsecurityclient/SpringSecurityClientApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.springsecurity.springsecurityclient.SpringSecurityClientApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-security-client"/>
</launchConfiguration>
